#title {
    color: red;
    text-align: center;
    font-size: larger;
  }
#angrymusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#angrydrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

a{text-decoration: none; background-color: none;color:red; }

body {
    background: linear-gradient(45deg, #d4581d, #ffbe2b);
    padding: 3rem;
    }