#title {
    color: yellow;
    text-align: center;
    font-size: larger;
  }
#happymusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#happydrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

body {
    background: linear-gradient(45deg, #1d5ed4, #2bbbff);
    padding: 3rem;
    }