#title {
    color: maroon;
    text-align: center;
    font-size: larger;
  }
#hornymusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#hornydrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

body {
    background: linear-gradient(45deg, #d41d71, #a42bff);
    padding: 3rem;
    }