#title {
    color: gold;
    text-align: center;
    font-size: larger;
  }
#motivatedmusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#motivateddrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

body {
    background: linear-gradient(45deg, #281dd4, #a42bff);
    padding: 3rem;
    }