#title {
    color: rgb(189, 165, 169);
    text-align: center;
    font-size: larger;
  }
#sadmusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#saddrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

a{text-decoration: none; background-color: none;color:rgb(189, 165, 169); }

body {
    background: linear-gradient(45deg, #281dd4, #a42bff);
    padding: 3rem;
    }