#title {
    color: white;
    text-align: center;
    font-size: larger;
  }
#sleepymusic {
    color: white;
    text-align: center;
    font-size: larger;
}
#sleepydrink {
    color: white;
    text-align: center;
    font-size: larger;
}
#back {
    color: white;
    text-align: center;
    font-size: small;
}

body {
    background: linear-gradient(45deg, #281dd4, #a42bff);
    padding: 3rem;
    }